.timeslider {
  width: 800px;
  margin: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.timeslider__inputs #timesliderInput__min,
.timeslider__inputs #timesliderInput__max {
  border: 1px solid grey;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.timeslider__inputs {
  display: flex;
  flex-flow: row;
  width: 100vw;
  justify-content: space-between;
  margin-bottom: 20px;
}

#timeslider__root {
  color: var(--ueeGreen02);
  height: 3px;
  padding: 13px 0;
}

#timeslider__root .MuiSlider-rail {
  color: #bbb;
  height: 3px;
  opacity: 1;
}

#timeslider__root .MuiSlider-mark {
  height: 15px;
  color: #bbb;
  bottom: 7px;
}

.MuiSlider-markActive {
  height: 15px;
  bottom: 7px;
  color: #bbb;
}

#timeslider__root .MuiSlider-track {
  color: var(--ueeGreen02);
  height: 5px;
}

#timeslider__handles {
  color: var(--ueeGreen02);
  height: 27px;
  width: 27px;
  background-color: #fff;
  border: 1px solid var(--ueeGreen02);
  margin-top: -12px;
  margin-left: -13px;
  box-shadow: #ebebeb 0 2px 2px;
}

#timeslider__handles .bar {
  height: 9px;
  width: 1px;
  background-color: var(--ueeGreen02);
  margin-left: 1px;
  margin-right: 1px;
}
