{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'article/markdownx.css' %}"
/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<div class="markdownx">
  <div class="editorToolbar">
    <script type="text/javascript" src="{% static 'article/insertPlace.js' %}"></script>

      <button class="editorButton" id="tagPlaceButton" type="button" onClick="tagPlace()">
        Tag Place
      </button>

    <script type="text/javascript" src="{% static 'article/insertPeriod.js' %}"></script>

      <button class="editorButton" id="tagPeriodButton" type="button" onClick="tagPeriod()">
        Tag Period
      </button> 

    <script type="text/javascript" src="{% static 'article/insertActivity.js' %}"></script>

      <button class="editorButton" id="tagActivityButton" type="button" onClick="tagActivity()">
        Tag Timemap Reference
      </button>  

    <script type="text/javascript" src="{% static 'article/insertTerm.js' %}"></script>

      <button class="editorButton" id="tagTermButton" type="button" onClick="tagTerm()">
        Tag Glossary Term
      </button>

      <script type="text/javascript" src="{% static 'article/insertImage.js' %}"></script>

      <button class="editorButton" id="addImageButton" type="button" onClick="addImage()">
        Insert Image
      </button>
    </div>

    <!-- Place popup modal to select what is inserted-->
    <div id="tagPlaceModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div>
          <select name="places" id="id_places_modal" multiple=""></select>
          <script>
            prepPlaceSelectOptions();
          </script>

          <div class="help" id="modalHelp">
            Select a single place.
          </div>

          <div>
            <button id="insert" type="button" onClick="insertPlaceSelections()">
              Insert
            </button>
          </div>
        </div>
      </div>
    </div>

     <!-- Period popup modal to select what is inserted-->
     <div id="tagPeriodModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div>
          <select name="periods" id="id_periods_modal" multiple=""></select>
          <script>
            prepPeriodSelectOptions();
          </script>

          <div class="help" id="modalHelp">
            Select a single period.
          </div>

          <div>
            <button id="insert" type="button" onClick="insertPeriodSelections()">
              Insert
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Activity Term popup modal to select what is inserted-->
    <div id="tagActivityModal" class="modal">
      <div class="modal-content">
        <span class="closeActivityModal">&times;</span>
        <div>
          <select name="activities" id="id_activities_modal" multiple=""></select>
          <script>
            prepActivitySelectOptions();
          </script>

          <div class="help" id="modalHelp">
            Hold down “Control”, or “Command” on a Mac, to select more than one.
          </div>

          <div>
            <button id="insert" type="button" onClick="insertActivitySelections()">
              Insert 
            </button>
          </div>
        </div>
      </div>
    </div>


    <!-- Glossary Term popup modal to select what is inserted-->
    <div id="tagTermModal" class="modal">
      <div class="modal-content">
        <span class="closeTermModal">&times;</span>
        <div>
          <select name="terms" id="id_terms_modal" multiple=""></select>
          <script>
            prepTermSelectOptions();
          </script>

          <div class="help" id="modalHelp">
            Hold down “Control”, or “Command” on a Mac, to select more than one.
          </div>

          <div>
            <button id="insert" type="button" onClick="insertTermSelections()">
              Insert
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Image popup modal to select what is inserted-->
    <div id="addImageModal" class="modal">
      <div class="modal-content">
        <span class="closeImageModal">&times;</span>
        <div>
          <select name="images" id="id_images_modal" multiple=""></select>
          <script>
            prepImageSelectOptions();
          </script>

          <div class="help" id="modalHelp">
            Hold down “Control”, or “Command” on a Mac, to select more than one.
          </div>

          <div>
            <button id="insert" type="button" onClick="insertImageSelections()">
              Insert
            </button>
          </div>
        </div>
      </div>
    </div>





    {% include 'django/forms/widgets/textarea.html' %}
    <p></p>
    <h1 class="markdownx-separator">Article Preview</h1>
    <div class="markdownx-preview"></div>
  </div>
</div>
