.about {
  width: 70vw;
  padding-top: 125px;
  margin: 0 auto;
  margin-bottom: 325px;
}

.about__title h1 {
  font-family: "Open Sans";
  font-weight: 300;
  color: var(--ueeGreen01);
  text-transform: uppercase;
}

.about__desc {
  padding-bottom: 20px;
}

.sections h2 {
  font-weight: 300;
  color: var(--ueeRed01);
  text-transform: uppercase;
}