/* ******** Articles ******** */

.article {
  width: 70vw;
  padding-top: 125px;
  margin: 0 auto;
}

#arabic {
  direction: rtl;
}

.authorsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Tables */
.articleBody table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  color: #000;
  width: 100%;
}
.articleBody th {
  font-size: 1.25rem;
  background-color: #3f7492;
  color: #fff;
  text-align: left;
  padding: 7px;
}
.articleBody td {
  vertical-align: top;
  font-size: 14px;
  padding: 5px;
}

.articleBody tr:nth-child(even) {
  background-color: #f2f2f2;
}

