.tableofcontents {
  width: 12vw;
  position: fixed;
  z-index: 1;
  left: 10px;
  background: #f3f3f3;
  overflow-x: hidden;
  /* padding: 8px 0; */
}

.tableofcontents h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--ueeGreen01);
  text-transform: uppercase;
  font-size: 1.25em;
  margin: 10px;
}

.tableofcontents a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.tableofcontents a:hover {
  color: var(--ueeBlue01);
}

.tableofcontents ul {
  padding-inline-start: 0px;
}

.tableofcontents li {
  list-style-type: none;
}

.tableofcontents .toc__sub {
  padding-left: 10px;
}

@media screen and (max-height: 450px) {
  .tableofcontents {
    padding-top: 15px;
  }
  .tableofcontents a {
    font-size: 18px;
  }
}
