.sidebar {
  padding: 125px 0px 0px 30px;
  overflow: auto;
  height: 800px;
  width: 350px;
}

.sidebar hr {
  border: 0.5px solid var(--ueeBlue03);
  width: 75%;
}

.sidebar h2 {
  font-family: "Open Sans";
  font-weight: 300;
  color:var(--ueeGreen01);
  text-transform: uppercase;
}
