.taggedPlace,
.taggedTerm {
  color: var(--ueeBlue02);
}

.articleBody figure {
  position: relative;
  margin: 0 auto;
  padding: 10px;

  font-size: 15px;
  text-align: center;

  max-width: 100%;
}

.embeddedImage__left {
  float: left;
}

.embeddedImage__right {
  float: right;
}

.articleBody figure img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.articleBody figure figcaption {
  width: 325px;
  padding: 10px;
}

.articleBody {
  /* Clear floated children */
  height: 1%;
  overflow: hidden;
}
