.App {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 115%;
}

.App a {
  color: rgb(138, 207, 207);
}

.App-header {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#arabic {
  direction: rtl;
}

.authorsList,
.keywordsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


