.app {
  font-family: "Open Sans", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 27vh 15vw;
  text-align: center;
}

.welcome {
  /* width: calc(75vw - 40px); */
}

.welcome__tagline {

}

.subjects h4 {
  color: #964a25;
}

.subjects__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 75px;
}

.subject {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.subject h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.subject__thumbnail {
  /* width: calc(100vw / 10); */
  height: 100px;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}

.tiles_title p {
  background-color: #d08009;
  color: #fff;
  padding: 5px 0px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3rem;
  width: calc(100vw/5);
  margin: 0;
}

.tiles_title img {
  width: 20vw;
}

hr {
  border: 0.5px solid #8b9ca5;
  width: 100%;
}


.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #336666;
  color: #fff;
  padding: 20px 0px 0px 30px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2rem;
}

.footer__cols {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(80vw - 40px);
  margin-left: auto;
  margin-right: auto;
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__1 {
}

.footer__2 {
}

.footer__3 {
}

.footer__4 {
}

.footer__5 {
  width: 250px;
  margin-top: 20px;
}

.footer h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  /* width: calc(100vw - 40px); */
}

.connected {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.connected__title {
  padding-right: 15px;
}


.connected__icon {
  padding: 0px 5px;
}

.copyright {
  padding-bottom: 10px;
}

h1 {
  font-size: 800;
}

a {
  color: #267a6b;
  text-decoration: none;
}

p {
  margin: 5px 0px;
}

/* ******** Articles ******** */

.article,
.articleList {
  width: 70%;
}

#arabic {
  direction: rtl;
}

.authorsList,
.keywordsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Tables */
.articleBody table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  color: #000;
  width: 100%;
}
.articleBody th {
  font-size: 1.25rem;
  background-color: #3f7492;
  color: #fff;
  text-align: left;
  padding: 7px;
}
.articleBody td {
  vertical-align: top;
  font-size: 14px;
  padding: 5px;
}

.articleBody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tooltip {
  color: rgb(221, 196, 150);
}
