*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  font-family: "Open Sans", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 27vh 15vw;
  text-align: center;
}

.welcome {
  /* width: calc(75vw - 40px); */
}

.welcome__tagline {
}

.subjects h4 {
  color: var(--ueeRed01);
}

.subjects__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 75px;
}

.subject {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.subject h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.subject__thumbnail {
  /* width: calc(100vw / 10); */
  height: 100px;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}

.tiles_title p {
  background-color: var(--ueeYellow01);
  color: #fff;
  padding: 5px 0px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3rem;
  width: calc(100vw / 5);
  margin: 0;
}

.tiles_title img {
  width: 20vw;
}

h1 {
  font-size: 800;
}

a {
  color: var(--ueeGreen01);
  text-decoration: none;
}

p {
  margin: 5px 0px;
}

hr {
  border: 1px solid var(--ueeBlue03);
  width: 50%;
  margin: 50px auto;
}
