:root {
  --ueeYellow01: #D08009;
  --ueeYellow02: #DA9937;
  --ueeYellow03: #EABD58;
  --ueeYellow04: #FFE19E;
  --ueeYellow04: #F8F2E5;
  --ueeGreen01: #267A6B;
  --ueeGreen02: #50A696;
  --ueeGreen03: #87CABE;
  --ueeGreen04: #C2E3DD;
  --ueeGreen05: #EFF5F4;
  --ueeRed01: #964A25;
  --ueeRed02: #AC603B;
  --ueeRed03: #BA795A;
  --ueeRed04: #DAA58B;
  --ueeRed05: #F3E8E0;
  --ueeBlue01: #27647F;
  --ueeBlue02: #497B91;
  --ueeBlue03: #6195AC;
  --ueeBlue04: #8EB0BF;
  --ueeBlue05: #E6EFF3;
}