:root {
  --ueeYellow01: #d08009;
  --ueeYellow02: #da9937;
  --ueeYellow03: #eabd58;
  --ueeYellow04: #ffe19e;
  --ueeYellow05: #f8f2e5;
  --ueeGreen01: #267a6b;
  --ueeGreen02: #50a696;
  --ueeGreen03: #87cabe;
  --ueeGreen04: #c2e3dd;
  --ueeGreen05: #eff5f4;
  --ueeRed01: #964a25;
  --ueeRed02: #ac603b;
  --ueeRed03: #ba795a;
  --ueeRed04: #daa58b;
  --ueeRed05: #f3e8e0;
  --ueeBlue01: #27647f;
  --ueeBlue02: #497b91;
  --ueeBlue03: #6195ac;
  --ueeBlue04: #8eb0bf;
  --ueeBlue05: #e6eff3;
}
