.ArticlesByActivityType h2 {
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--ueeRed01);
  text-transform: uppercase;
}

.ArticlesByActivityType h3 {
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: uppercase;
}

.ArticlesByActivityType li {
  list-style-type: none;
  margin-left: -30px;
}
