.subjectBrowse {
  display: flex;
  flex-flow: row wrap;
  padding: 125px 20px;
}

.subjectBrowse__sidebar {
  width: 25vw;
}

.subjectBrowse__articles {
  width: 50vw;
  padding-left: 20px;
}

.subjectBrowse__sidebar h2 {
  font-family: "Open Sans";
  font-weight: 300;
  color:var(--ueeGreen01);
  text-transform: uppercase;
}

.subjectBrowse .MuiTreeItem-label {
  font-family: "Open Sans";
  font-weight: 300;
  position: inherit;
}

.subjectBrowse .MuiTreeItem-label:hover {
  background-color: var(--ueeGreen05);
}

.subjectBrowse .MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
  background-color: var(--ueeGreen05);
} 

.subjectBrowse .MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label:hover, .MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label {
  background-color: var(--ueeGreen05) !important;
}